<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'lab4_form.css' %}" rel="stylesheet" />
    <!-- TITLE -->
    <title>Notes Form</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a class="active" href="/lab-4/add-note">Add New Note</a></li>
        <li><a href="/lab-4">Notes Table</a></li>
        <li><a href="/lab-4/note-list">Note Cards</a></li>
      </ul>
    </nav>
    <h1>Type Your New Note Here</h1>
    <form action="" method="POST">
      <!-- the form is for an internal URL -->
      {% csrf_token %} {{ form.as_p}}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
