<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'lab4_note_list.css' %}" rel="stylesheet" />
    <!-- TITLE -->
    <title>Note Cards</title>
  </head>
  <body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar">
      <ul>
        <li><a href="/lab-4/add-note">Add New Note</a></li>
        <li><a href="/lab-4">Notes Table</a></li>
        <li><a class="active" href="/lab-4/note-list">Note Cards</a></li>
      </ul>
    </nav>
    <h1>Note Card Collections</h1>
    <!-- PROGRAM -->
    <div class="main">
      <div class="main_card">
        {% if notes %} {% for p in notes %}
        <div class="card">
          <div class="content">
            <p class="profileUser">From: {{ p.fromUser }}</p>
            <p class="profileUser">To: {{ p.toUser }}</p>
            <h2 class="title">{{ p.title }}</h2>
            <h3 class="message">{{ p.message }}</h3>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
