<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Notes</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/lab-4/add-note">Add New Note</a></li>
        <li><a class="active" href="/lab-4">Notes Table</a></li>
        <li><a href="/lab-4/note-list">Note Cards</a></li>
        <link href="{% static 'lab4_index.css' %}" rel="stylesheet" />
      </ul>
    </nav>
    <h1>My Notes</h1>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for p in notes %}
      <tr>
        <td>{{ p.toUser }}</td>
        <td>{{ p.fromUser }}</td>
        <td>{{ p.title }}</td>
        <td>{{p.message }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
