body {
  background-image: url(https://wallpaper.dog/large/974438.jpg);
  background-position: top;
  background-size: 590px;
  background-repeat: no-repeat;
  background-color: #f5f0ea;
  margin: 0;
  text-align: center;
  width: auto;
}

/* NAVIGATION BAR */
.navbar ul {
  background-image: url(https://i.pinimg.com/564x/78/33/bf/7833bf72fec4d1192b78218ed7d035d3.jpg);
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 5px 6px 0 rgb(150, 144, 144);
}
.navbar a {
  background-color: #5e42399d;
  color: whitesmoke;
  float: left;
  font-family: Strasua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover {
  background-color: #a1887f;
}
.navbar a.active {
  background-color: rgba(53, 35, 17, 0.815);
}

/* HEADER */
h1 {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Wonderbar;
  color: rgb(129, 96, 64);
  font-size: 40px;
  float: center;
}

/* FORM */
form {
  margin: auto;
  font-family: "Franklin Gothic Medium";
}
input[type="submit"] {
  background-color: rgba(92, 69, 20, 0.651);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgb(150, 144, 144);
}
input[type="text"],
input[type="date"],
select,
textarea {
  width: 43%;
  padding: 10px;
  border: 2px solid rgb(102, 75, 51);
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 0 2px 3px 0 rgb(150, 144, 144);
}
input[type="submit"]:hover {
  background-color: rgb(129, 96, 64);
}
