body {
  background-image: url(https://wallpaper.dog/large/974438.jpg);
  background-position: top;
  background-size: 590px;
  background-repeat: no-repeat;
  background-color: #f5f0ea;
  margin: 0;
  text-align: center;
  width: auto;
}

/* NAVIGATION BAR */
.navbar ul {
  background-image: url(https://i.pinimg.com/564x/78/33/bf/7833bf72fec4d1192b78218ed7d035d3.jpg);
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 5px 6px 0 rgb(150, 144, 144);
}
.navbar a {
  background-color: #5e42399d;
  color: whitesmoke;
  float: left;
  font-family: Strasua;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover {
  background-color: #a1887f;
}
.navbar a.active {
  background-color: rgba(53, 35, 17, 0.815);
}

/* HEADER */
h1 {
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Wonderbar;
  color: rgb(129, 96, 64);
  font-size: 35px;
  float: center;
}

/* CONTENT */
.main {
  position: absolute;
}
.card {
  padding: auto;
  max-height: 300px;
  border-radius: 10px;
  width: 70%;
  height: 80%;
}
.main_card {
  display: grid;
  color: beige;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  align-items: center;
  justify-items: center;
}
.content {
  background-image: url(https://i.pinimg.com/564x/3b/db/89/3bdb89f5862449a04dc113b4529780fd.jpg);
  width: 100%;
  height: 100%;
  margin: 5px auto;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.content:hover {
  margin-top: -15px;
}
.title {
  font-family: Freehand521 BT;
  color: rgb(46, 42, 39);
  font-size: 23px;
}
.message {
  font-size: 15px;
  margin: 10px auto;
  font-family: Century Gothic;
  background-color: blanchedalmond;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(46, 46, 46);
  color: rgb(46, 42, 39);
}

/* to & from */
.profileUser {
  padding: 1px;
  background-color: #88372ac2;
  box-shadow: 0 1px 2px 0 rgb(46, 46, 46);
  border-radius: 15px;
  color: blanchedalmond;
  font-size: 15px;
  font-family: Inter;
  font-weight: 500;
  margin: 5px auto;
}
