<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <h1>My Friend List</h1>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% if friends %} {% for p in friends %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.npm }}</td>
        <td>{{ p.dob }}</td>
      </tr>
      {% endfor %} {% endif %}
      <!-- END SECTION -->
    </table>
    <style>
      body,
      table {
        text-align: center;
        background-image: url(https://wallpaperaccess.com/download/bts-chibi-303440);
        background-size: 687px;
        margin: auto;
      }
      h1 {
        font-family: Shorelines Script;
        font-size: 53px;
      }
      th {
        border-radius: 8px;
        border: 2.3px solid #444444cb;
        background-color: darkseagreen;
        font-family: Strasua;
        font-size: 20px;
      }
      th,
      td {
        padding: 7.5px;
      }
      tr:hover {
        background-color: rgba(247, 132, 78, 0.479);
      }
      tr {
        font-family: Winkle;
        font-size: 24px;
      }
    </style>
  </body>
</html>
