<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TITLE -->
    <title>Friends Form</title>
  </head>
  <body>
    <h1>Submit Your Data!</h1>
    <form action="" method="POST">
      <!-- the form is for an internal URL -->
      {% csrf_token %} {{ form.as_p}}
      <input type="submit" value="Submit" />
    </form>
    <style>
      h1 {
        font-family: Shorelines Script;
        font-size: 53px;
        text-align: center;
      }
      body {
        text-align: center;
        width: auto;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #fef7ef;
        color: rgb(112, 83, 56);
      }
      form {
        font-family: Geometr415 Blk BT;
        font-weight: bold;
        font-size: 25px;
      }
      input[type="submit"] {
        background-color: rgba(247, 132, 78, 0.863);
        border-radius: 8px;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        cursor: pointer;
      }
      input[type="text"],
      input[type="date"],
      select,
      textarea {
        width: 50%;
        padding: 8px;
        border: 2px solid rgb(112, 83, 56);
        border-radius: 6px;
        font-size: 15px;
      }

      input[type="submit"]:hover {
        background-color: rgba(247, 132, 78, 0.61);
      }
    </style>
  </body>
</html>
