<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Notes</title>
  </head>
  <body>
    <div>
      <h1>Najwa's Notes</h1>
    </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for p in notes %}
      <tr>
        <td>{{ p.toUser}}</td>
        <td>{{ p.fromUser}}</td>
        <td>{{ p.title}}</td>
        <td>{{p.message}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
      <!-- BODY SIZE & COLORS -->
      <style>
        h1 {
          text-align: center;
          color: rgba(244, 252, 255, 0.966);
          font-family: South Amsterdam DEMO Regular;
          font-size: 50px;
        }
        body,
        table {
          width: 1000px;
          margin: auto;
          text-align: center;
          background-color: rgba(0, 57, 80, 0.733);
          font-size: 23px;
        }
        tr {
          background-color: #cfe8f1;
        }
        th {
          background-color: peru;
          font-family: Geometr415 Blk BT;
          color: rgba(244, 252, 255, 0.966);
        }
        td {
          font-family: mungil;
          color: saddlebrown;
        }
      </style>
    </table>
  </body>
</html>
